.grid_wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
    text-align: right;
}

.logo {
    grid-column: 2;
    grid-row: 2;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

.navi {
    grid-column: 2;
    grid-row: 3;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}


.content_wrapper {
    grid-column: 2;
    grid-row: 4;
    display: grid;    
    grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
}

.recipe_wrapper{
    grid-column: 2;
    grid-row: 3;
}

.category1 {
    grid-column: 1 / span 3;
    grid-row: 2;
    border-top: 2px solid black;
}

.category1 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.category2 {
    border-top: 2px solid black;
    padding-top: 20px;
    grid-column: 1 / span 3;
    grid-row: 3;
}

.category2 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.category3 {
    border-top: 2px solid black;
    padding-top: 20px;
    grid-column: 2;
    grid-row: 4;
}

.category3 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.navbar-brand a{
    text-decoration: none;
    font-size: 1rem;
}

.recipe_share {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
}

.recipe_share a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 0 50px 20px 0;
}

.recipe_share h5{
    font-weight: 700;
    padding: 0 0 10px 0;
}

/* SAM */
.logo {
    grid-column: 2;
    grid-row: 2;
    height: 200px;
    display: flex;
    justify-content: center;
}
.rightwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightwrapper img {
    max-height: 65%;
    max-width: 65%;
}

.navbar-nav > li{
    padding-right: 5vw
  }


  .dropdown_custom {
    padding: 0;
    margin: 8px 0 0 -16px;
    border: 3px solid black;
  }

  .home {
      padding: 0 10px 0 0;
  }

/* TOM */
.recipe-category-container {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    row-gap: 40px;
    text-align: center;
    padding: 50px 50px;
}

.container {
    position: relative;
    width: 100%;
    padding: 0px 0 0 0;
    cursor: pointer;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 1)
  }
  
.container:hover .overlay {
    opacity: 0.5;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* JOSEY */

.recipe-image {
    text-align: center;
    border:2px solid black;
    border-top: 0px none black;
}

.recipe-image img {
    max-height: 400px;
    width: auto;
}

.recipe {
    text-align: justify;
    padding:20px 100px;
}

.recipe-table{
    padding: 20px 100px 40px 100px;
}
.recipe-table table{
    text-align: justify;
}


.footer {
    grid-column: 2;
    grid-row: 5;
    background-color:rgb(63, 63, 63);
    color: white;
}
.footer a{
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 30px 0;
    width: 65%;
    margin: auto;
    flex-wrap: wrap;
}

#fine-print {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    padding-bottom: 10px;
}

#fine-print a{
    text-decoration: underline;
    color: white;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    justify-content: flex-start;     
}

.fa {
    font-size: 30px;
    width: 35px;
    text-decoration: none;
    color: white;
    padding-right: 20%;
}

.fa a{
    text-decoration: none;
} 

.fa:hover {
    color: grey;
    text-decoration: none;
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
    color: #fff;
    background-color: grey;
}

.email_input input {
    border: 1px solid rgb(63, 63, 63); 
    border-radius: 5px;
    padding: 5px 5px;
}

.subscribe_align {
    display: flex;
    align-items: flex-start;
    padding: 0 0 10px 0;
}

@media only screen and (max-width: 767px){
    #fine-print {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-bottom: 5px;
    }

    .footer-top {
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
    .navbar-nav > li{
        padding-right: 10px;
    }
    
}

/* CHRIS* */
.cat_link img{
    text-decoration: none;
}

.rotd {
    grid-column: 2;
    grid-row: 1;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.rotd_img{
    max-width: 50%;
    padding: 0 20px 0 0px;
    overflow: hidden;
}

.rotd_txt{
    width: 50%;
    padding: 20px 20px 0 20px;
    text-align: justify;
}

.rotd_txt img{
    display: none;
    float: left;
    max-width: 300px;
    height: auto;
    padding: 0 30px 10px 0px;
}

.rotd_img  img {
    
    height: 100%;
}

/* FADE EFFECT */
.sidebar-box {
    max-height: 100%;
    position: relative;
    overflow: hidden;
  }
  .sidebar-box .read-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; padding: 30px 0; 
      
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
  }

.show_more {
    grid-row: 2;
    grid-column: 1 / span 3;
    text-decoration: none;
    text-align: right;
}
.show_more a{
    font-weight: 700;
}

.container {
    max-width: 1200px;
}

.container h2 {
    text-align: left;
}

@media (max-width:965px) {
    .rotd {
        flex-direction: column;
        text-align: center;
    }

    .rotd_img{
        display: none;
    }
            
    .rotd_txt{
        width: 100%;
    }

    .rotd_txt img{
        display: block;
    }

    .recipe-image img {
        max-height: 300px;
        width: auto;
    }
    
    .recipe {
        text-align: justify;
        padding:20px 20px;
    }

    .recipe-table{
        padding: 20px 20px 40px 20px;
    }

    .recipe-category-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        row-gap: 30px;
        padding: 40px 40px;
   }
}

@media (max-width:590px) {
    .recipe-category-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        row-gap: 20px;
        padding: 30px 30px;
   }
   .navbar-expand .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0; 
}
}

.showme {
    display: block;
}

.hideme {
    display: none;
}


@media (max-width:590px) {
        
        .showme {
            display: none
        }
    }


@media (max-width:590px) {
        .hideme {
            display: block
    }
        .nav-link {
            padding: 5px;
        }
}